<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <app-button type="submit" classBtn="w-full border-noround p-button-secondary" routerLink="/dashboard"
            iconBtn="pi pi-angle-left" label="Go Back"></app-button>
        <app-button type="submit" classBtn="w-full border-noround" iconBtn="pi pi-plus" label="CREATE USER"
            (click)="showDialogInsertUser()"></app-button>
    </div>
    <h1>Users</h1>

    <div class="card border-noround mt-4">
        <p-table [value]="companyProfiles" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 25, 50]" styleClass="p-datatable-sm">

            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">
                        No
                    </th>
                    <th style="min-width:0.2rem">
                        <div class="flex align-items-center">

                        </div>
                    </th>
                    <th style="min-width:10rem">
                        <div class="flex align-items-center">
                            Fullname
                        </div>
                    </th>
                    <th style="min-width:10rem">
                        <div class="flex align-items-center">
                            Email
                        </div>
                    </th>
                    <th style="min-width:10rem">
                        <div class="flex align-items-center">
                            Role
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-u let-i="rowIndex">
                <tr>
                    <td class="text-center">{{ i+1 }}</td>
                    <td>
                        <div class="btn-group">
                            <!-- http://localhost:8080/files/{{ u.fileId }} -->
                            <img src="../../../../assets/logo.png" alt="Profile Picture"
                                style="border-radius: 100%; width: 3rem; height: 3rem;" class="img-thumbnail">
                        </div>
                    </td>
                    <td>{{u.name}}</td>
                    <td>{{u.sector}}</td>
                    <td>{{u.name}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No Users Found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- CREATE USER MODAL -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container p-10">
                        <div class="form-group">
                            <div class="rounded-lg text-center p-3">
                                <img src="//placehold.it/140?text=IMAGE" class="img-fluid" id="preview" />
                            </div>
                            <label for="picture">Picture <span class="text-danger">*</span></label>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile">
                                    <label class="custom-file-label" for="inputGroupFile"
                                        aria-describedby="inputGroupFileAddon">Choose image</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fullname">Fullname <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="fullname">
                        </div>
                        <div class="form-group">
                            <label for="useremail">Email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" id="useremail">
                        </div>
                        <div class="form-group">
                            <label for="inputState">Role <span class="text-danger">*</span></label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose Role</option>
                                <option>Admin</option>
                                <option>Librarian</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- CREATE USER MODAL PRIMENG -->
<div class="flex justify-content-center">
    <p-dialog header="Create User" [(visible)]="dialogUserInsert" #dialogCSV [modal]="true" [draggable]="false"
        [breakpoints]="{ '960px': '95vw' }" [style]="{ width: '30vw' }" [maximizable]="true">
        <form [formGroup]="userInsertReqDto" (ngSubmit)="insertUser()">
            <div class="p-fluid grid">
                <div class="field col-12 mb-0">
                    <div class="grid">
                        <div class="col">
                            <div class="form-group">
                                <div class="rounded-lg text-center p-3">
                                    <img src="//placehold.it/140?text=IMAGE" class="img-fluid" id="preview" />
                                </div>
                                <label for="picture">Picture <span class="text-danger">*</span></label>
                                <div class="input-group mb-3">
                                    <input type="file" class="custom-file-input" id="inputGroupFile">
                                    <label class="custom-file-label" for="inputGroupFile"
                                        aria-describedby="inputGroupFileAddon">Choose image</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col">
                            <label for="fullname">Fullname <span class="text-danger">*</span></label>
                            <input id="fullname" type="text" pInputText class="w-full p-inputtext"
                                formControlName="userFullname">
                        </div>
                        <div class="col">
                            <label for="email">Email <span class="text-danger">*</span></label>
                            <input id="email" type="email" pInputText class="w-full p-inputtext"
                                formControlName="userEmail">
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col">
                            <label for="role">Role <span class="text-danger">*</span></label>
                            <p-dropdown [options]="role" optionValue="value" optionLabel="name"
                                placeholder="Choose Role" id="role" formControlName="roleId"></p-dropdown>
                        </div>
                        <div class="col">
                            <label for="password">Password <span class="text-danger">*</span></label>
                            <input id="password" type="password" pInputText class="w-full p-inputtext"
                                formControlName="userPassword">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-content-end mt-2">
                <app-button (click)="closeDialogCreateUser()" type="submit"
                    classBtn="w-full border-noround p-button-secondary" class="mr-2" label="CANCEL"></app-button>
                <app-button type="submit" classBtn="w-full border-noround" label="SUBMIT"></app-button>
            </div>
        </form>
    </p-dialog>
</div>