<div class="container mt-4">
    <h1>Hi, Mr. Andrew Maruli</h1>
    <h4>Welcome to This wonderful system</h4>
    <hr>
    <p>Transaction</p>
    <div class="row mt-4 gx-5 gy-5">
        <div class="col-md-3">
            <a href="" class="text-dark">
                <div class="card card-button" style="height: 100%;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4 class="mt-2">
                                <span><i class="bi bi-list-check"></i></span> Borrowing
                            </h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="" class="text-dark">
                <div class="card card-button" style="height: 100%;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4 class="mt-2">
                                <span><i class="bi bi-box-arrow-right"></i></span> Check-Out
                            </h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="" class="text-dark">
                <div class="card card-button" style="height: 100%;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4 class="mt-2">
                                <span><i class="bi bi-box-arrow-left"></i></span> Check-In
                            </h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <p>Master Data</p>
    <div class="row mt-4 gx-5 gy-5">
        <div class="col-md-3">
            <a href="" class="text-dark">
                <div class="card card-button" style="height: 100%;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4 class="mt-2">
                                <span><i class="bi bi-book"></i></span> Books
                            </h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="" class="text-dark">
                <div class="card card-button" style="height: 100%;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4 class="mt-2">
                                <span><i class="bi bi-person"></i></span> Authors
                            </h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="" class="text-dark">
                <div class="card card-button" style="height: 100%;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4 class="mt-2">
                                <span><i class="bi bi-building"></i></span> Publihers
                            </h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="" class="text-dark">
                <div class="card card-button" style="height: 100%;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4 class="mt-2">
                                <span><i class="bi bi-bookmark"></i></span> Categories
                            </h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mt-4">
            <a href="" class="text-dark">
                <div class="card card-button" style="height: 100%;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4 class="mt-2">
                                <span><i class="bi bi-people"></i></span> Members
                            </h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mt-4">
            <a href="" class="text-dark">
                <div class="card card-button" style="height: 100%;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h4 class="mt-2">
                                <span><i class="bi bi-person-gear"></i></span> Users
                            </h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col-sm">
            <div class="card" style="height: 100%;">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card body.
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card body.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            This is some text within a card body.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>