<div class="container flex align-items-center justify-content-center align-item-center flex-column"
    style="height: 100vh;">
    <div class="p-4 border-noround w-full lg:w-4">
        <div class="flex align-items-center justify-content-center align-item-center flex-column">
            <img src="../../../assets/logo.png" alt="Logo Jobroad" width="36">
        </div>
        <div class="flex flex-column align-items-center justify-content-center mt-4">
            <h1 class="text-900 text-3xl lg:text-5xl mb-2">Not Found</h1>
            <div class="text-600 mb-5 text-center">Sorry, the page not found. The link you followed probably broken or
                the page has been removed</div>
        </div>

        <div class="mt-2">
            <app-button type="submit" classBtn="w-full border-noround p-button-secondary" routerLink="/dashboard"
                label="DASHBOARD"></app-button>
        </div>
    </div>
</div>